<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="fw-bold">投稿一覧</h1>

  <%= link_to "新規投稿",
      new_anime_review_path,
      class: "btn btn-primary rounded-pill px-4" %>
</div>

<% @anime_reviews.each do |anime_review| %>
  <div class="card shadow-sm border-0 mb-4">
    <div class="card-body">

      <div class="d-flex align-items-center mb-3">
        <% if anime_review.user.image.attached? %>
          <%= image_tag anime_review.user.image,
              class: "review-user-icon me-3" %>
        <% else %>
          <%= image_tag "no_image.png",
              class: "review-user-icon me-3" %>
        <% end %>

        <div>
          <div class="fw-bold">
            <%= anime_review.user.name %>
          </div>

          <small class="text-muted">
            <%= l anime_review.created_at, format: :short %>
          </small>
        </div>
      </div>

      <h2 class="h5 fw-bold mb-3">
        <%= anime_review.title %>
      </h2>

      <p>ジャンル: <%= anime_review.genre&.name || "未設定" %></p>

      <p class="text-muted">
        <%= truncate(anime_review.body, length: 150) %>
      </p>

      <p>
       コメント数: <%= anime_review.comments.count %>
      </p>

      <div class="mb-3">
        ⭐ <%= anime_review.rating %> / 5
      </div>

      <%= link_to "詳細を見る",
          anime_review_path(anime_review),
          class: "btn btn-outline-primary rounded-pill btn-sm" %>

    </div>
  </div>
<% end %>