<h1 class="mb-3"><%= @anime_review.title %></h1>

<p><%= @anime_review.body %></p>

<p>評価: <%= @anime_review.rating %></p>

<p>ジャンル: <%= @anime_review.genre&.name || "未設定" %></p>

<p>投稿者: <%= @anime_review.user.name %></p>

<% if @anime_review.user == Current.user %>
  <%= link_to "編集", edit_anime_review_path(@anime_review), class: "btn btn-primary" %>
  <%= link_to "削除", anime_review_path(@anime_review),
      data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
      class: "btn btn-danger" %>
<% end %>


<h2>コメント</h2>

<% @comments.each do |comment| %>
  <div>
    <p><%= comment.user.name %></p>
    <p><%= comment.body %></p>

    <% if comment.user == Current.user %>
      <%= link_to "削除",
        anime_review_comment_path(@anime_review, comment),
        data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
        class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>

<%= form_with model: [@anime_review, Comment.new] do |f| %>
  <div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit "送信" %>
  </div>
<% end %>

<%= link_to "一覧へ戻る", anime_reviews_path, class: "btn btn-secondary" %>