<h1 class="mb-4">ユーザー詳細</h1>

<% if @user.image.attached? %>
  <%= image_tag @user.image, class: "profile-image mb-3" %>
<% else %>
  <%= image_tag "no_image.png", class: "profile-image mb-3" %>
<% end %>

<p>ユーザー名: <%= @user.name %></p>
<p>自己紹介: <%= @user.introduction.presence || "未設定" %></p>

<% if @user == Current.user %>
  <%= link_to "編集", edit_user_path(@user), class: "btn btn-primary" %>
<% end %>

<p>
  コメント数: <%= @user.comments.count %>
</p>

<div class="d-flex gap-3 mb-3">
  <%= link_to following_user_path(@user),
      class: "text-decoration-none text-dark" do %>
    フォロー <strong><%= @user.following.count %></strong>
  <% end %>

  <%= link_to followers_user_path(@user),
      class: "text-decoration-none text-dark" do %>
    フォロワー <strong><%= @user.followers.count %></strong>
  <% end %>
</div>

<% if @user != Current.user %>
  <% if Current.user.following?(@user) %>
    <% relationship = Current.user.active_relationships.find_by(followed_id: @user.id) %>

    <%= button_to "フォロー解除",
    relationship_path(relationship),
    method: :delete,
    class: "btn btn-outline-danger" %>
  <% else %>
    <%= button_to "フォローする",
        relationships_path,
        params: { followed_id: @user.id },
        method: :post,
        class: "btn btn-primary" %>
  <% end %>
<% end %>

<h2 class="h4 mt-5 mb-3">投稿一覧</h2>

<% @anime_reviews.each do |anime_review| %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="h5 card-title"><%= anime_review.title %></h3>
      <p class="card-text"><%= anime_review.body %></p>
      <%= link_to "詳細を見る", anime_review_path(anime_review), class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>
<% end %>