<header>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom">
    <div class="container">
      <%= link_to "AniLog Admin", admin_users_path, class: "navbar-brand text-white" %>

      <% if session[:admin_id].present? %>
        <div class="navbar-nav me-auto ms-4">
          <%= link_to "ユーザー管理", admin_users_path, class: "nav-link text-white" %>
          <%= link_to "レビュー管理", admin_anime_reviews_path, class: "nav-link text-white" %>
          <%= link_to "コメント管理", admin_comments_path, class: "nav-link text-white" %>
        </div>

        <div class="ms-auto">
          <%= link_to "管理者ログアウト",
              admin_sign_out_path,
              data: { turbo_method: :delete },
              class: "btn btn-outline-light" %>
        </div>
      <% else %>
        <div class="ms-auto">
          <%= link_to "ユーザーとしてログイン",
              new_session_path,
              class: "btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
